{% extends 'blog/base.html' %}
{% block content %}
  <div class="row justify-content-between">
    <div class="col">
      <h3>Tools</h3>
      <div class="post">
        <div class="post-tools">
          <a href="{% url 'forum_new' %}"><span class="glyphicon glyphicon-plus"></span> Add New Post</a>
          <a href=""><span class="fa fa-archive"></span> View Your Posts</a>
          <form id="searchform" action="{% url 'search_list_view' %}" method="get" accept-charset="utf-8">
            <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
            <button class="searchbutton pull-right" type="submit">search</button>
          </form>
        </div>
      </div>
    </div>
      <div class="col-9">
          <div class="">
            <h2>Forum</h2>
            <div class="post">
                <table class="table table-striped">
                  <tr>
                    <th><h3>Topic</h3></th>
                    <th><h3>Replies</h3></th>
                    <th><h3>Latest Activity</h3></th>
                  </tr>
                {% for forumpost in forumposts %}
                  <tr>
                    <td class="table-details">
                      <h4><a href="{% url 'forum_detail' pk=forumpost.pk %}">{{ forumpost.title }}</a></h4>
                      <div class="date">
                        <p>started by {{ forumpost.author }} on {{ forumpost.published_date }}</p>
                      </div>
                      <p class="post-body container"><small>{{ forumpost.text|linebreaksbr|truncatewords:20 }}
                        {% if forumpost.text|wordcount > 20 %}
                          <a href="{% url 'forum_detail' pk=forumpost.pk %}">read more</a>
                        {% endif %}
                      </small></p>
                    </td>
                    <td class="table-count align-middle">
                      <p>{{ forumpost.forumcomments.count }}</p>
                    </td>
                    <td class="table-replies align-middle">
                      {% if forumpost.forumcomments.count > 0 %}
                        {% with forumpost.forumcomments.all|dictsortreversed:"created_date"|first as first_comment %}
                          <p>{{ first_comment.created_date }} by {{ first_comment.author }}</p>
                        {% endwith %}
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </table>
            </div>
          </div>
        </div>
  </div>
{% endblock %}
