{% extends 'blog/base.html' %}
{% block content %}
  <div class="row justify-content-between">
    <div class="col">
      <h3>Upcoming</h3>
      <div class="post">
        <p>calendar here</p>
      </div>
    </div>
    {% for post in posts %}
      <div class="col-6">
        <div class="">
          <h2>News</h2>
          <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
              <p>published: {{ post.published_date }}</p>
            </div>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
          </div>
        </div>
        <div class="">
          <h2>Forum</h2>
          <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
              <p>published: {{ post.published_date }}</p>
            </div>
            <p>{{ post.text|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="col">
      <h3>Placeholder</h3>
      <div class="post">
        <p>something</p>
      </div>
    </div>
  </div>
{% endblock %}
