{% extends 'blog/base.html' %}
{% block content %}
  <div class="row justify-content-center">
    <div class="narrowcol">
      <div>
        <h3><a class="column-header" href="">Calendar</a></h3>
        <div class="post">
          <table>
            <h4>August</h4>
            <thead>
              <tr>
                <th title="Sunday">S</th>
                <th title="Monday">M</th>
                <th title="Tuesday">T</th>
                <th title="Wednesday">W</th>
                <th title="Thursday">T</th>
                <th title="Friday">F</th>
                <th title="Saturday">S</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td><a href="">2</a></td>
                <td>3</td>
                <td>4</td></tr><tr>
                  <td>5</td>
                  <td>6</td>
                  <td><a href="#">7</a></td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td><a href="#">11</a></td></tr><tr>
                    <td>12</td>
                    <td>13</td>
                    <td><a href="#">14</a></td>
                    <td>15</td>
                    <td><a href="#">16</a></td>
                    <td>17</td>
                    <td>18</td></tr><tr>
                      <td>19</td>
                      <td>20</td>
                      <td><a href="#">21</a></td>
                      <td>22</td>
                      <td>23</td>
                      <td class="present">24</td>
                      <td class="future"><a href="#">25</a></td></tr><tr>
                        <td class="future">26</td>
                        <td class="future">27</td>
                        <td class="future"><a href="#">28</a></td>
                        <td class="future">29</td>
                        <td class="future"><a href="#">30</a></td>
                        <td class="future">31</td>
                        <td></td></tr><tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="schedule">
                      <ul class="upcoming">
                        <li>
                          <h4><strong><a href="#">Practice</a></strong></h4>
                          <p>August 25, 2018 from 10:00am to 12:00pm <br> Skate Safe</p>
                        </li>
                        <li>
                          <h4><strong><a href="#">Practice</a></strong></h4>
                          <p>August 28, 2018 from 9:30pm to 11:00pm <br> United Skates</p>
                        </li>
                        <li>
                          <h4><strong><a href="#">Practice</a></strong></h4>
                          <p>August 30, 2018 from 9:30pm to 11:00pm <br> United Skates</p>
                        </li>
                        <li>
                          <h4><strong><a href="#">Practice</a></strong></h4>
                          <p>September 6, 2018 from 9:00pm to 11:00pm <br> United Skates</p>
                        </li>
                        <li>
                          <h4><strong><a href="#">Practice</a></strong></h4>
                          <p>September 8, 2018 from 10:00am to 12:00pm <br> Skate Safe</p>
                        </li>
                        <li>
                          <h4><strong><a href="#">League Meeting</a></strong></h4>
                          <p>September 10, 2018 from 8:30pm to 10:00pm <br> Skate Safe Party Room</p>
                        </li>
                        <li>
                          <h4><strong><a href="#">Practice</a></strong></h4>
                          <p>September 11, 2018 from 9:00pm to 11:00pm <br> United Skates</p>
                        </li>
                        <li>
                          <h4><strong><a href="#">Practice</a></strong></h4>
                          <p>September 13, 2018 from 9:00pm to 11:00pm <br> United Skates</p>
                        </li>
                        <li>
                          <h4><strong><a href="#">Yard Sard - LIRR Fundraiser</a></strong></h4>
                          <p>September 15, 2018 from 9:00am to 3:00pm <br> Thriller's House, Huntington Station</p>
                        </li>
                        <li>
                          <h4><strong><a href="#">Practice</a></strong></h4>
                          <p>September 19, 2018 from 9:00pm to 11:00pm <br> United Skates</p>
                        </li>
                        <li>
                          <h4><strong><a href="#">Practice</a></strong></h4>
                          <p>September 20, 2018 from 9:00pm to 11:00pm <br> United Skates</p>
                        </li>
                        <li>
                          <h4><strong><a href="#">Practice</a></strong></h4>
                          <p>September 25, 2018 from 8:30pm to 10:30pm <br> United Skates</p>
                        </li>
                        <li>
                          <h4><strong><a href="#">Practice</a></strong></h4>
                          <p>September 27, 2018 from 9:00pm to 11:00pm <br> United Skates</p>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>

      <div class="contact-div">
        <h3><a class="column-header" href="">Contact</a></h3>
        <div class="post">
          <h4>Questions/problems/ideas?</h4>
          <h5>contact: </h5>
          <ul class="contacts">
            <li>
              <strong class="email">OFFICERS@LONGISLANDROLLERREBELS.COM</strong><p><i class="date"> for day-to-day league operations, medical leave and LOA, bylaws, etc.</i></p>
            </li>
            <li>
              <strong class="email">BOD@LONGISLANDROLLERREBELS.COM</strong><p><i class="date"> for NFP Status, legal, overall financial structure, long-term league issues, etc.</i></p>
            </li>
            <li>Gypsy Danger at
              <strong class="email">
              caitlincarroll@gmail.com</strong><p><i class="date"> for attendance and dues.</i></p>
            </li>
            <li>Committee Heads:
              <ul>
                <li>
                  <strong>Coaching: Turdschmerggle</strong>
                  <p class="email">scurley3@gmail.com</p>
                </li>
                <li>
                  <strong>Recruitment: Dolce Beata</strong>
                  <p class="email">recruitment@longislandrollerrebels.com</p>
                </li>
                <li>
                  <strong>Merchandise: Rayna Terror</strong>
                  <p class="email">rayna.aja@gmail.com</p>
                </li>
                <li>
                  <strong>Sponsorship / Donations: Knockturn Ally</strong>
                  <p class="email">alix.melissa@gmail.com</p>
                </li>
                <li>
                  <strong>Website issues: JJ Bangz</strong>
                  <p class="email">druidess@gmail.com</p>
                </li>
                <li>
                  <strong>Public Relations: Tropikill Storm</strong>
                  <p class="email">tvv208@nyu.edu</p>
                </li>
                <li>
                  <strong>Photography: AbraCadaver</strong>
                  <p class="email">tanyatabinsky@yahoo.com</p>
                </li>
                <li>
                  <strong>Graphic Design: Joy Styx</strong>
                  <p class="email">noramkeane@gmail.com</p>
                </li>
                <li>
                  <strong>Bout Production: Indiana Bones</strong>
                  <p class="email">lindamrj192@gmail.com</p>
                </li>
                <li>
                  <strong>Events: Joy Styx and AbraCadaver</strong>
                  <p class="email">noramkeane@gmail.com </br> tanyatabinsky@yahoo.com</p>
                </li>
                <li>
                  <strong>NSOs: Fantasmic + Julius Freezer</strong>
                  <p class="email">fantasmicderby@gmail.com </br> jad419@nyu.edu</p>
                </li>
                <li>
                  <strong>Refs: Brock Slamson</strong>
                  <p class="email">john.svitek@gmail.com</p>
                </li>

              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
      <div class="widecol">
        <div class="">
          <h2><a class="column-header" href="{% url 'post_list'%}">News</a></h2>
            <div class="post">
              {% for post in posts|slice:":3" %}
              <div class="post-container">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <div class="date">
                  <p>published: {{ post.published_date }}</p>
                </div>
                <p class="post-body container">
                  {{ post.text|linebreaksbr|truncatewords:50 }}
                  {% if post.text|wordcount > 50 %}
                    <a href="{% url 'post_detail' pk=post.pk %}">read more</a>
                  {% endif %}
                </p>

                  {% if post.comments.count == 1 %}
                    <a href="{% url 'post_detail' pk=post.pk %}">1 comment</a>
                  {% else %}
                    <a href="{% url 'post_detail' pk=post.pk %}">{{ post.comments.count }} comments</a>
                  {% endif %}

              </div>
            {% endfor %}
            <a class="pull-right" href="{% url 'post_list' %}">View All</a>
            </div>
          </div>

          <div class="">
            <h2><a class="column-header" href="{% url 'forum_list' %}">Forum</a></h2>
            <div class="post">
              {% for forumpost in forumposts|slice:":10" %}
              <div class="post-container forum-list">
                <h4><a href="{% url 'forum_detail' pk=forumpost.pk %}">{{ forumpost.title }}</a></h4>
                <div class="date">
                  <p>started by {{ forumpost.author }} on {{ forumpost.published_date }}</p>
                </div>
                <p class="post-body container">{{ forumpost.text|linebreaksbr|truncatewords:30 }}
                  {% if forumpost.text|wordcount > 30 %}
                    <a href="{% url 'forum_detail' pk=forumpost.pk %}">read more</a>
                  {% endif %}
                  </p>
                  {% if forumpost.forumcomments.count == 1 %}

                    <a href="{% url 'forum_detail' pk=forumpost.pk %}">1 reply
                  {% else %}
                    <a href="{% url 'forum_detail' pk=forumpost.pk %}">{{ forumpost.forumcomments.count }} replies
                  {% endif %}
                  {% if forumpost.forumcomments.count > 0 %}
                    {% with forumpost.forumcomments.all|dictsortreversed:"created_date"|first as first_comment %}
                      |  Last reply by {{ first_comment.author }} on {{ first_comment.created_date }}
                    {% endwith %}
                  {% endif %}
                </a>
              </div>
              {% endfor %}
              <a class="pull-right" href="{% url 'post_list' %}">View All</a>
            </div>
          </div>
        </div>

  </div>
{% endblock %}
