{% extends 'blog/base.html' %}

{% block content %}
<div class="post container col-8">
  <div class="detail-container">
  <a href="{% url 'forum_list' %}"> <-Back to Forum</a>
  <h1>{{ post.title }}</h1>
  <div class="date">
    posted by {{ post.author }} on {{ post.published_date }}
  </div>
  {% if user.get_username == post.author %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
  {% endif %}

  <p>{{ post.text|linebreaksbr }}</p>

</div>

<div class="comment-container">
  <div id="commentform-container">
    <h4 onclick="showCommentForm()">Reply <i id="toggle-icon" class="fa fa-caret-right"></i></h4>
    <div id="comment-form">
      {% include "./add_comment_to_post.html" %}
    </div>
  </div>
{% for comment in post.comments.all|dictsortreversed:"created_date" %}
{% if user.is_authenticated %}
<div class="comment">
  <hr>
  <div class="date">
    {{ comment.created_date }}
    {% if comment %}
    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
  </div>
  <strong>{{ comment.author }}</strong>
  <p>{{ comment.text|linebreaks }}</p>
</div>
{% endif %}
{% empty %}
<p>No comments yet</p>
{% endfor %}
</div>
</div>

{% endblock %}
