
body {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 0;
  margin: 0;
  background-color: #efefef;
  background-image: url('../assets/pink.png');
  background-repeat: repeat;
  background-position: top center;
  background-attachment: scroll;
}
header {
  margin: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  border-bottom: 3px solid #eb3d8c;
  /* padding: 20px 0 0 0; */
}
.header-logo {
  width: 100%;
  margin-top: -50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-logo a {
  width: 100%;
}
.header-logo img {
  /* margin: 10px 20px ; */
  width: 300px;
  height: auto;
}
.header-logo h1, .header-logo a, .header-logo a:visited, .header-logo a:active, .header-logo a:hover {
  color: #ffffff;
  font-size: 20pt;
  text-decoration: none;
}
.toolbar {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.toolbar form {
  margin: 0;
  width: auto;
  display: inline-flex;
}
.toolbar ul {
  display: inline-flex;
  list-style-type: none;
  width: 200px;
  padding: 0;
  margin-left: 15px;
  justify-content: space-around;
  font-size: 26px;
}
.toolbar button[type="submit"] {
  /* margin: 0; */
}
.toolbar a:hover {
  color: #eb3d8c;
}
.toolbar a {
  color: #ddd;
}
th {
  text-align: center;
}
.table tr {
  width: 100%;
  align-items: center;
}
.table h3 {
  background: none;
  color: #eb3d8c;
}
td {
  margin: 0;
}
.table-details {
  width: 400px;
  color: #000;
}
.table-count {
  width: 150px;
  text-align: center;
  color: #000;
  padding: 0;
}
.table-replies {
  width: 250px;
  color: #000;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Lobster', cursive;
  margin: 0;
}
h2, h3 {
  background: #eb3d8c;
  width: 100%;
  margin: 0;
  padding: 5px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.narrowcol   {
  width: 30%;
  padding-right: 20px;
}
.widecol {
  width: 70%;
}
.column-header, .column-header:hover {
  width: 100%;
  color: inherit;
  text-decoration: none;
}

nav {
  width: 100%;
  padding: 0 20px;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: baseline;
}
nav p {
  margin: 0;
  font-size: 20px;
}
nav a {
  color: #fff;
  font-size: 16px;
  margin-left: 15px;
}
nav a:hover {
  color: #eb3d8c;
  text-decoration: none;
}
.nav-item {
  /* width: 50%; */
  display: inline-flex;
  justify-content: flex-end;
  align-items: baseline;
}
.logout-link {
  margin-left: 7px;
  font-size: 25px;
  /* color: #eb3d8c; */
}
.logout-link:hover {
  color: #eb3d8c;
  text-decoration: underline;
}
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.post form {
  margin: 0 auto;
  width: 100%;
}
textarea {
  resize: none;
  overflow-x: scroll;
  width: 100%;
  height: 200px;
  margin: 5px 0;
  color: #000;
}
form p {
  margin: 0;
}
#commentform-container {
  padding-top: 40px;
  margin: 0;
  cursor: pointer;
}
input {
  color: #000;
}
input[type="submit"], button, button[type="submit"] {
  margin: 10px;
  background: #eb3d8c;
  color: #fff;
  border: 1px solid #eb3d8c;
  font-size: 1.3em;
  text-shadow: none;
}
input[type="submit"]:hover, button:hover, button[type="submit"]:hover {
  color: #eb3d8c;
  background: #fff;
  border: 1px solid #eb3d8c;
}
table {
  height: 60px;
}
.date, .post a {
  color: #828282;
}
/* .save {
float: right;
} */

.post-form label {
  display: none;
}
.post-tools a {
  margin: 3px 0;
  padding-left: 10px;
  color: #828282;
}
.post-tools a:visited {
  margin: 3px 0;
  padding-left: 10px;
  color: #828282;
}
.post-body a {
  color: #828282;
}
.post-body a:visited {
  color: #828282;
}
input[type="text"] {
  width: 100%;
  margin: 10px 0;
}
.post {
  background: #fff;
  margin-bottom: 20px;
  padding: 15px 15px 25px 15px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #000;
}
.post a:hover {
  color: #eb3d8c;
}
.col {
  padding: 0;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.content {
  padding: 20px 0;
  margin: 0 auto;
}
.post-container {
  padding-bottom: 20px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 10px;
}
.post-container h1 {
  padding-bottom: 10px;
}
.post-body {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.post-tools {
  display: inline-flex;
  flex-direction: column;
}

.post h1 a, .post h1 a:visited {
  color: #eb3d8c;
}
.post h4 a, .post h4 a:visited {
  color: #eb3d8c;
}
.post h4 {
  margin: 0;
}
.forum-list {
  padding-top: 15px;
  padding-bottom: 20px;
}
.comment {
  margin: 20px 0px 20px 20px;
}
.comment-container h4 {
  color: #eb3d8c;
}
.comment-container {
  padding: 0 60px 0 60px;
}
#comment-form {
  display: none;
  padding-bottom: 60px;
}
.detail-container {
  padding: 20px 50px;
}

.detail-container .date{
  margin-bottom: 20px;
  /* align-items: center; */
}

.detail-container h1{
  text-transform: capitalize;
  color: #eb3d8c;
  padding-bottom: 5px;
}
.post .btn {
  margin: 0 5px;
}
.narrowcol .post {
  padding: 5px;
}
.narrowcol ul {
  padding-left: 30px;
}
.narrowcol table {
  margin: 10px auto;
}
.narrowcol th {
  color: #000;
}
.narrowcol td {
  padding: 3px;
  color: #666;
  text-align: center;
}
.narrowcol a {
  color: #eb3d8c;
}
.narrowcol h4 {
  text-align: center;
}
.email {
  text-transform: lowercase;
  color: #eb3d8c;
}
.schedule ul {
  list-style-type: none;
  padding-left: 15px;
}
.schedule h4 {
  text-align: left;
}
.schedule li {
  padding: 5px;
}
.post .container {
  width: 98%;
  margin: 0 auto;
  padding-bottom: 10px;
}
form table {
  margin: 0 auto;
}
footer {
  background: rgba(0,0,0,.7);
  padding: 30px;
  margin-top: 130px;
  text-align: center;
  width: 100%;
  bottom: 0;
  /* position: fixed; */
}
footer h1 {
  font-size: 24px;
}
footer a {
  color: inherit;
}
footer a:hover {
  color: #eb3d8c;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
/* .align-middle {
  margin-top: 10px;
} */
.login {
  height: 100%;
}




/* ================= ANIMATIONS ================= */
#wheel {
  /* display: flex;
  flex-wrap: wrap; */
}
#notifications {
  display: none;
  background: rgba(0,0,0,.8);
  color: #fff;
  z-index: 1;
  position: absolute;
  margin-top: 8px;
  margin-left: -190px;
  width: 250px;
  /* height: 300px; */
  padding: 30px 10px;
  border-bottom: 1px solid #eb3d8c;
  border-right: 1px solid #eb3d8c;
  border-left: 1px solid #eb3d8c;
}
#notifications ul {
  list-style-type: none;
  width: 100%;
  padding: 20px;
}
#notifications li {
  /* padding-left: 0;
  margin-left: 0; */
}

.menu-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0;
  background: transparent;
  margin-left: -19px;
  fill: #fff;
}
.speed-lines {
  opacity: 0;
}
#animate-svg {
  display: inline-flex;
  width: 40px;
  justify-content: left;
  align-items: baseline;
  background: transparent;
  cursor: pointer;
  margin-left: 15px;
  overflow: visible;
}
.show-notifications #notifications {
  display: block;
}

.show-notifications .menu-icon path {
  fill: #eb3d8c;
}

.animate-notifications .menu-icon {
  -webkit-animation: spin .15s linear 1 forwards, moveLeftToRight .15s linear 1 forwards;
  -moz-animation: spin .15s linear 1 forwards, moveLeftToRight .15s linear 1 forwards;
  -ms-animation: spin .15s linear 1 forwards, moveLeftToRight .15s linear 1 forwards;
  animation: spin .15s linear 1 forwards, moveLeftToRight .15s linear 1 forwards;

  -webkit-transition: all .15s ease;
  transition: all .15s ease;

  position: relative;
  left: 0;
}


.animate-notifications .speed-lines {
  -webkit-animation: show-speedlines .3s linear 1 forwards;
  -moz-animation: show-speedlines .3s linear 1 forwards;
  -ms-animation: show-speedlines .3s linear 1 forwards;
  animation: show-speedlines .3s linear 1 forwards;
}

.animate-reverse .menu-icon {
  -webkit-animation: spinbackwards .15s linear 1 forwards, moveRightToLeft .15s linear 1 forwards;
  -moz-animation: spinbackwards .15s linear 1 forwards, moveRightToLeft .15s linear 1 forwards;
  -ms-animation: spinbackwards .15s linear 1 forwards, moveRightToLeft .15s linear 1 forwards;
  animation: spinbackwards .15s linear 1 forwards, moveRightToLeft .15s linear 1 forwards;

  -webkit-transition: all .15s ease;
  transition: all .15s ease;

  position: relative;
  left: 11px;
}

.animate-reverse .speed-lines {
  -webkit-animation: hide-speedlines .3s linear 1 forwards;
  -moz-animation: hide-speedlines .3s linear 1 forwards;
  -ms-animation: hide-speedlines .3s linear 1 forwards;
  animation: hide-speedlines .3s linear 1 forwards;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(180deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(180deg); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(180deg); }
}

@-moz-keyframes moveLeftToRight {
  0%   { left: 0px; }
  100% { left: 11px; }
}
@-ms-keyframes moveLeftToRight {
  0%   { left: 0px; }
  100% { left: 11px; }
}
@keyframes moveLeftToRight {
  0%   { left: 0px; }
  100% { left: 11px; }
}
@-webkit-keyframes moveLeftToRight {
  0%   { left: 0px; }
  100% { left: 11px; }
}

@-moz-keyframes show-speedlines {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}
@-ms-keyframes show-speedlines {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}
@keyframes show-speedlines {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}
@-webkit-keyframes show-speedlines {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}

@-ms-keyframes spinbackwards {
  from { -ms-transform: rotate(180deg); }
  to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spinbackwards {
  from { -moz-transform: rotate(180deg); }
  to { -moz-transform: rotate(0deg); }
}
@keyframes spinbackwards {
  from { transform: rotate(180deg); }
  to { transform: rotate(0deg); }
}
@-webkit-keyframes spinbackwards {
  from { -webkit-transform: rotate(180deg); }
  to { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes moveRightToLeft {
  0%   { left: 11px; }
  100% { left: 0px; }
}
@-ms-keyframes moveRightToLeft {
  0%   { left: 11px; }
  100% { left: 0px; }
}
@keyframes moveRightToLeft {
  0%   { left: 11px; }
  100% { left: 0px; }
}
@-webkit-keyframes moveRightToLeft {
  0%   { left: 11px; }
  100% { left: 0px; }
}

@-moz-keyframes hide-speedlines {
  0%   { opacity: 1; }
  100% { opacity: 0;}
}
@-ms-keyframes hide-speedlines {
  0%   { opacity: 1; }
  100% { opacity: 0;}
}
@keyframes hide-speedlines {
  0%   { opacity: 1; }
  100% { opacity: 0;}
}
@-webkit-keyframes hide-speedlines {
  0%   { opacity: 1; }
  100% { opacity: 0;}
}
