
body {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #fff;
    padding: 0;
    margin: 0;
    background-color: #efefef;
    background-image: url('../assets/pink.png');
    background-repeat: repeat;
    background-position: top center;
    background-attachment: scroll;
}
header {
    margin: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
    border-bottom: 3px solid #eb3d8c;
    /* padding: 20px 0 0 0; */
}
.header-logo {
  width: 100%;
  margin-top: -50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-logo a {
  width: 100%;
}
.header-logo img {
  /* margin: 10px 20px ; */
  width: 300px;
  height: auto;
}
.header-logo h1, .header-logo a, .header-logo a:visited, .header-logo a:active, .header-logo a:hover {
    color: #ffffff;
    font-size: 20pt;
    text-decoration: none;
}
.toolbar {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.toolbar form {
  margin: 0;
}
.toolbar ul {
  display: inline-flex;
  list-style-type: none;
  width: 200px;
  padding: 0;
  margin-left: 15px;
  justify-content: space-around;
  font-size: 26px;
}
.toolbar a:hover {
  color: #eb3d8c;
}
.toolbar a {
  color: #ddd;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    margin: 0;
}
/* h1 a:hover {
    color: #eb3d8c;
} */
h2, h3 {
  background: #eb3d8c;
  width: 100%;
  margin: 0;
  padding: 5px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

nav {
  width: 100%;
  padding: 0 20px;
  display: flex;
  height: auto;
  justify-content: space-between;
  align-items: baseline;
}
nav p {
  margin: 0;
  font-size: 20px;
}
nav a {
  color: #fff;
  font-size: 16px;
  margin-left: 15px;
}
nav a:hover {
  color: #eb3d8c;
  text-decoration: none;
}
.nav-item {
  /* width: 50%; */
  display: inline-flex;
  justify-content: flex-end;
  align-items: baseline;
}
.logout-link {
  margin-left: 5px;
  font-size: 25px;
  /* color: #eb3d8c; */
}
.logout-link:hover {
  color: #eb3d8c;
  text-decoration: underline;
}
.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
form {
  margin: 0 auto;
  width: 255px;
}
input {
  color: #000;
}
input[type="submit"], button {
  margin: 10px;
  background: #eb3d8c;
  border: 1px solid #eb3d8c;
  font-size: 1.3em;
}
input[type="submit"]:hover, button:hover {
  color: #eb3d8c;
  background: #fff;
  border: 1px solid #eb3d8c;
}
table {
  height: 60px;
}
.date {
    color: #828282;
}
.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    background: #fff;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.col {
  padding: 0;
}
.content {
  padding: 10px 0;
}


.post h1 a, .post h1 a:visited {
    color: #eb3d8c;
}
.comment {
    margin: 20px 0px 20px 20px;
}
.menu-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  background: transparent;
  margin-left: -19px;
  fill: #fff;
}
.animate-svg {
  display: inline-flex;
  width: 45px;
  align-items: baseline;
  background: transparent;
  cursor: pointer;
  margin-left: 15px;
  overflow: visible;
}

.animate-svg:hover .menu-icon {
  -webkit-animation: spin .15s linear 1 forwards, moveLeftToRight .15s linear 1 forwards;
 -moz-animation: spin .15s linear 1 forwards, moveLeftToRight .15s linear 1 forwards;
 -ms-animation: spin .15s linear 1 forwards, moveLeftToRight .15s linear 1 forwards;
 animation: spin .15s linear 1 forwards, moveLeftToRight .15s linear 1 forwards;

 -webkit-transition: all .15s ease;
 transition: all .15s ease;

 position: relative;
 left: 0;
}
.animate-svg:hover .menu-icon path {
  fill: #eb3d8c;
}

.animate-svg:hover .speed-lines {
  -webkit-animation: show-speedlines .3s linear 1 forwards;
  -moz-animation: show-speedlines .3s linear 1 forwards;
  -ms-animation: show-speedlines .3s linear 1 forwards;
  animation: show-speedlines .3s linear 1 forwards;

}
.speed-lines {
  opacity: 0;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(180deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(180deg); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(180deg); }
}

@-moz-keyframes moveLeftToRight {
  0%   { left: 0px; }
  100% { left: 11px; }
}
@-ms-keyframes moveLeftToRight {
  0%   { left: 0px; }
  100% { left: 11px; }
}
@keyframes moveLeftToRight {
  0%   { left: 0px; }
  100% { left: 11px; }
}
@-webkit-keyframes moveLeftToRight {
  0%   { left: 0px; }
  100% { left: 11px; }
}

@-moz-keyframes show-speedlines {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}
@-ms-keyframes show-speedlines {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}
@keyframes show-speedlines {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}
@-webkit-keyframes show-speedlines {
  0%   { opacity: 0; }
  100% { opacity: 1;}
}
